<!doctype html>
<html lang="en">
<head>
	<title>Simple Chef</title>
	<!--META-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="Kyle Poland and Laura Silva">
	<meta name="description" content="A simple way to find recipes, follow and listen to step-by-step instructions, and much, much, more. All for the endeavor of creating something savory and delicious.">
    <meta name="keywords" content="simple, chef, recipe, easy, savory, delicious">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!--LINKS-->
	<link type="text/css" rel="stylesheet" media="all" href="/css/recipe.css">
	<link type="text/css" rel="stylesheet" media="all" href="/css/responsive.css">
	<link type="text/css" rel="stylesheet" media="all" href="/css/bootstrap.css">
	<link type="text/css" rel="stylesheet" media="all" href="/css/cards.css">

	<!--SCRIPTS-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
	<script type="text/javascript" src="/js/dropdown.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/1.1.0/annyang.min.js"></script>
	<script>
		jQuery(function ($) {
	    	if (annyang) {
				// Let's define our first command. First the text we expect, and then the function it should call
				console.log('working');
				var commands = {
			        'ingredients': function() {
			        	window.location.href = '/ingredients/{{name}}';
			        },
			        'steps': function() {
			        	window.location.href = '/step/{{name}}';
			        }
				};
				
				// Add our commands to annyang
				annyang.addCommands(commands);

				// Start listening. You can call this here, or attach this call to an event, button, etc.
				annyang.start();
			}
		});
	</script>
</head>
<body>
	<div id="w">
		<div id="pagebody">
			<header id="recovertoolbarnav">
				<a href="/recipe/{{name}}" class="back glyphicon-chevron-left"></a> 
				<h1><img src="/images/chefhat.png" alt="Simple Chef">Overview</h1>
			</header>
			<nav id="stepseasynav">
				<ul>
					<li><a href="#" class="easynavicono glyphicon-align-justify stepactive"></a></li>
					<li><a href="/ingredients/{{name}}" class="easynavicono glyphicon-list"></a></li>
					<li><a href="/step/{{name}}" class="easynavicono glyphicon-cutlery"></a></li>
				</ul>
			</nav>
			<section id="content">
				<div class="recipehead">
					<span class="title">{{name}}</span>
					<span class="time">{{time}}</span>
				</div>
				<div id="overviewsteps">
					{{#each steps}}
					<div class="card">
						<h2>Step {{num}}</h2>
						<p>{{desc}}</p>
					</div>
					{{/each}}
				</div>
			</section>
			<!--BOTTOM FIXED NAV-->
			<nav id="botnavrecover">
				<ul>
					<li><a href="/home" class="navicon glyphicon-home"></a></li>
					<li><a href="/myrecipes" class="navicon glyphicon-book"></a></li>
					<li><a href="/settings" class="navicon glyphicon-cog"></a></li>
				</ul>
			</nav>
		</div>
	</div>
</body>
</html>