<!doctype html>
<html lang="en">
<head>

	<title>Simple Chef</title>
	<!--META-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="Kyle Poland and Laura Silva">
	<meta name="description" content="A simple way to find recipes, follow and listen to step-by-step instructions, and much, much, more. All for the endeavor of creating something savory and delicious.">
    <meta name="keywords" content="simple, chef, recipe, easy, savory, delicious">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!--LINKS-->
	<link type="text/css" rel="stylesheet" media="all" href="/css/recipe.css">
	<link type="text/css" rel="stylesheet" media="all" href="/css/responsive.css">
	<link type="text/css" rel="stylesheet" media="all" href="/css/bootstrap.css">

	<!--SCRIPTS-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
	<script type="text/javascript" src="/js/dropdown.js"></script>
	<script>
	jQuery(function ($) {
		$('.addrecipebtn').click(addRecipe);
		$('.addrecipebtnundo').click(removeRecipe);
		function addRecipe(e) {
			e.preventDefault();
			$('#recadd').removeClass("addrecipebtn");
			$('#recadd').addClass("addrecipebtnundo");
			$('#recadd').html("Remove from My Recipe\'s");
			$('#recadd').unbind("click");		
			//ga("send", "event", "like", "click");
			$('#recadd').click(removeRecipe);
			console.log($('.title').html());
			//console.log("it worked");
			$.post('/add', { name: $('.title').html() });
		}

		function removeRecipe(e) {
			e.preventDefault();
			$('#recadd').removeClass("addrecipebtnundo");
			$('#recadd').addClass("addrecipebtn");
			$('#recadd').html("Add to My Recipe\'s");
			$('#recadd').unbind("click");
			$('#recadd').click(addRecipe);
			$.post('/remove', { name: $('.title').html() });
		}
	});
	</script>
</head>
<body>
	<div id="w">
		<div id="pagebody">
			<!-- HTML for Top Bar -->
			<header id="toolbarnav">
				<!--<a href="javascript:history.go(-1)" class="back glyphicon-chevron-left"></a>-->
				<h1 style="margin-top: 5px;"><img src="/images/chefhat.png" alt="Simple Chef">Recipe</h1>
			</header>
			<section id="content">
				<div class="recipehead">
					<span class="title">{{recipe.name}}</span>
					<span class="time">{{recipe.time}}</span>
				</div>
				<img class="foodpic" src="/images/{{recipe.img}}">
				{{rating recipe account.recipes btest}}
				<p>{{recipe.shortDes}}</p>
				<form method="link" action="/overview/{{recipe.name}}"><input type="submit" class="recipeops" value="Steps Overview"></form>
				<form method="link" action="/ingredients/{{recipe.name}}"><input type="submit" class="recipeops" value="Ingredients List"></form>
				<form method="link" action="/step/{{recipe.name}}"><input type="submit" class="recipeops" value="Cooking Mode"></form>
			</section>
			<!--BOTTOM FIXED NAV-->
			<nav id="bottomnav">
				<ul>
					<li><a href="/home" class="navicon glyphicon-home"></a></li>
					<li><a href="/myrecipes" class="navicon glyphicon-book"></a></li>
					<li><a href="/settings" class="navicon glyphicon-cog"></a></li>
				</ul>
			</nav>
		</div>
	</div>
</body>
</html>